body {
    background: #fff;
    font-size: 16px;
}
nav .nav-wrapper i {
    font-size: 5.5rem;
}
nav {
    background-color: #444;
}
nav ul li a {
	font-size: 1.1rem;
	text-transform: uppercase;
}
.hero-head {
	min-height:520px;
    font-weight:300;
    background-color: #fff;
    background-image: url('../images/half_face.jpg');
    background-repeat: no-repeat; 
    background-position: right center;
}
.hero-head .hero-text h2,
.hero-head .hero-text h4 {
	font-weight: 300;
}
.hero-head .hero-text h4 {
	margin-bottom: 0;
}
.hero-head .hero-text h1 {
	margin-top: 0.7rem;
}
.hero-head .hero-text .dark-giant-title .text-invert {
	font-weight: 300;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    font-size: 90px;
    line-height: 1.2;
    color: #fff;
    margin: 0;
}
section {
	padding-top: 30px;	
}
strong {
    font-weight: 400;
}
.upper {
	text-transform: uppercase;
}
.content {
	padding-bottom: 60px;
}
.full-cta {
	background-color: #f5f5f5;
	padding-bottom: 30px;
}
.full-cta .row {
	margin-bottom: 0;
}
.full-cta h2,
.full-cta h3 {
	font-weight: 200;
}
.intro {
	padding-top: 0;
}
.intro h3 {
	font-weight: 300;
}
.intro p {
	font-size: 22px;
	font-weight: 300;
}
#skills .row,
#skills .container .row,
#solutions .row,
#solutions .container .row {
	margin-bottom: 0;
}
.solutions-intro {
	background-color: #fff;
    background-image: url('../images/wp_logo.png');
    background-repeat: no-repeat; 
    background-position: right top;
}
.solutions-intro h3 {
	font-weight: 300;
}
.solutions-intro h4,
.solutions-intro h2 {
  font-weight: 200;
}
.solutions-intro p {
	font-weight: 300;
	font-size: 22px;
}
#skills .tabs-heading,
#solutions .tabs-heading {
	padding-bottom: 30px;
}
.tabs .indicator {
    background-color: #42a5f5;
}
.tabs .tab a {
    color: #42a5f5;
}
.tabs .tab a:hover {
    color: #64b5f6;
}
#skills .tab-content,
#solutions .tab-content {
	padding: 30px 0;
}
.tab-content h3 {
	font-size: 28px;
	font-weight: 300;
	margin-top: 10px;
	text-transform: uppercase;
}
.tab-content h4 {
	font-size: 25px;
	font-weight: 300;
	margin-top: 0;
}
.tab-content p {
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 0;
}
.tab-content .row,
.tab-content .card {
	margin-bottom: 0;
}
#alter p {
	margin: 10px 0;
}
#alter img {
	max-height: 350px;
    float: left;
    margin: 0 25px 15px 0;
}
.concept {
	background-image: url('../images/bg-62.jpg');
	color: #fff;
}
.solution {
	background-color: #F1F1F1;
}
.card .card-content .card-title {
    color: #333;
    line-height: 30px;
    padding-bottom: 15px;
    display: inline-block;
}
.card .card-content p {
	color: #333;
	margin-bottom: 10px;
}
#showcase {
	padding: 30px 0;
}
#showcase .m3 {
	padding: 0 1.75rem;
}
#showcase .example-wrap {
	padding-top: 15px; 
}
#showcase h3,
#showcase h4,
#showcase p {
	font-weight: 300;
}
#showcase p {
	font-size: 18px;
}
#showcase .get-it {
	width: 100%;
	height: 60px;
    line-height: 65px;
    margin-top: 70px;
    text-transform: uppercase;
    background-color: #1976d2;
}
#showcase .get-it:hover {
	background-color: #42a5f5;
}
/*** PROGRESS BARS ***/
.skill {
	margin: 0;
	line-height: 1.3;
	font-style: italic;
	font-size: 25px;
}
.progressbar-inner .value {
	font-weight: 300;
	font-size: 22px;
	font-style: italic;
	padding: 0 10px;
	color: #30353B;
}
.progressbar{
   width:100%;
    height:33px;
    margin:0 auto 20px auto;
    padding:0px; 
    background:transparent;
    border-width:1px;
    border-style:solid;
    border-color: #444;    
}
.progressbar,
.progressbar-inner{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
}
.progressbar-inner{
    width:77%; /* Change to actual percentage */
    height:100%;
    background:#999;
    background-size:18px 18px;
    background-color: #ac0;
}
/* Bars Color Options*/
.progressbar-php .progressbar-inner{
    background-color:#8892BF;
    width:90%;
}
.progressbar-wp .progressbar-inner{
    background-color:#62BEDA;
    width: 95%;
}
.progressbar-html .progressbar-inner{
    background-color:#E44D26;
    width: 97%;
}
.progressbar-css .progressbar-inner{
    background-color:#1471B6;
    width: 90%;
}
.progressbar-js {
	margin-bottom: 0;
}
.progressbar-js .progressbar-inner{
    background-color:#F8DC3D;
    width:80%;
}
/*Transition - just for fun:)*/
.progressbar:hover .progressbar-inner{
    width:100%;   
}
.progressbar .progressbar-inner,
.progressbar:hover .progressbar-inner{
    -webkit-transition:width .5s ease-in;  
    -moz-transition:width .5s ease-in; 
    -o-transition:width .5s ease-in; 
    transition:width .5s ease-in; 
}
/*** WIDTH SEPARATOR ***/
.w-separator {
  margin: 20px 0;
  color: #e0e0e0;
  border-color: #e0e0e0;
  line-height: 18px;
  height: 20px;
  padding: 2px 0;
  text-align: center;
  overflow: hidden;
  clear: both;
}
.w-separator-h {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  position: relative;
  border-color: inherit;
  color: inherit;
}
.w-separator-h:before {
  right: 100%;
  margin-right: 15px;
}
.w-separator-h:after {
  left: 100%;
  margin-left: 15px;
}
.w-separator-h:before,
.w-separator-h:after {
  top: 8px;
  content: '';
  display: inline-block;
  vertical-align: top;
  position: absolute;
  height: 0;
  width: 2000px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: inherit;
}
.w-separator-h i {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  width: 20px;
  vertical-align: top;
}
.w-separator-h h3 {
  font-weight: 300;
  font-size: 20px;
  color: #444;
}
/*** ICON BOX ***/
.iconbox,
.iconblock {
  text-align: left;
  position: relative;
}
.iconbox:after,
.iconblock:after {
  content: '';
  clear: both;
}
.iconbox-icon {
  font-size: 34px;
  line-height: 85px;
  height: 80px;
  width: 80px;
  color: #424242;
  background-color: #e3f2fd;
  float: left;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
}
.iconbox-title {
  margin-left: 105px;
  font-size: 22px;
  padding: 0 0 16px;
  margin-bottom: 0;
}
.iconbox-text {
  margin-left: 105px;
  font-weight: 300;
}
/*** FOOTER ***/
footer.page-footer {
  padding-top: 15px;
  margin: 0;
  background-color: #444;
  color: #D0D0D0;
}
.page-footer .row {
	margin-bottom: 15px;
}
/*** FORM ***/
form .btn {
	line-height: 39px;
	background-color: #1976d2;
}
form .btn:hover {
	background-color: #42a5f5;
}
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #42a5f5;
  box-shadow: 0 1px 0 0 #42a5f5;
}

#form-messages {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
}
.error {
	color: #e53935;
}
.success {
	color: #00e676;
}
/*** SOCIALS ICONS ***/
.page-footer .socials {
    padding-left: 50px;
}
.socials-list {
  text-align: left;
  margin: 5px 0;
}
.socials-list .socials-item {
  margin: 2px 4px 2px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.socials-list .socials-item a {
  font-size: 24px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  background-color: #D0D0D0;
}
.socials-list .socials-item a:hover {
  background-color: #fff;
}

.socials-list .github i {
  color: #000;
}
.socials-list .linkedin i {
  color: #0177B5;
}
.socials-list .google-plus i,
.socials-list .youtube-play i {
  color: #EE0000;
}
.socials-list .instagram i {
  color: #A05A03;
}
.upwork .btn-floating {
	background-color: #fff;
    background-image: url('../images/upwork.png');
    background-size: 35px;
    background-repeat: no-repeat; 
    background-position: center;
}
.subfooter-copyright {
  color: #757575;
  background-color: #212121;
  text-align: center;
  padding: 15px 0;
  line-height: 35px;
  font-size: 18px;
  font-weight: 300;
}
/* scroll to top */
.scrollup {
  display: inline-block;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.scrollup.scrollup-is-visible, .scrollup.scrollup-fade-out, .no-touch .scrollup:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.scrollup.scrollup-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  background-color: rgba(25, 118, 210, 0.5);
}
/*copyright*/
.copyright a {
  color: #9e9e9e;
}
.copyright a:hover {
  color: #42a5f5;
}
/*** MEDIA QUERIES ***/
@media(max-width: 600px) {
	nav .nav-wrapper i {
	    font-size: 4.5rem;
	}
	section {
	    padding-top: 15px;
	}
	.full-cta {
	    padding-bottom: 15px;
	}
	.w-separator {
	    margin: 10px 0;
	}
	.concept .tabs-heading {
	    padding-bottom: 15px;
	}
	.concept .concept-tab {
	    padding: 15px 0;
	}
	.tabs .tab h5 {
		font-size: 
	}
}
@media(max-width: 490px) {
	.hero-head .hero-text h2 {
	    font-size: 2.56rem;
	}
	.hero-head .hero-text h4 {
		font-size: 2rem;
	}
	.hero-head .hero-text .dark-giant-title .text-invert {
        font-size: 57px;
    }
    .intro h3,
    .solutions-intro h3,
    #showcase h3 {
	    font-size: 1.92rem;
	}
	.solutions-intro h4,
	#showcase h4 {
		font-size: 1.76rem;
	}
	.intro p {
	    font-size: 16px;
	}
	.full-cta h2 {
		font-size: 2.5rem;
	}

	.full-cta h3 {
	    font-size: 1.62rem;
	}
	.tabs .tab h5 {
		font-size: 14px;
	}
	#showcase .m3 {
	    padding: 0; 
	}
	#showcase .get-it {
	    margin-top: 0px;
	}
}